body{background:#191919;
}

#big_wrapper{text-align:center;

}

#menu_header li{float:right;
       padding: 15px;
       list-style:none; 
}
#Main{ 
       color:black;
       padding-top:250px;
}
.blue-text{font-family: times;
           color:blue;
           font-size: 25px;
           text-align: left
}
.wiki_pic{background-image:url("https://upload.wikimedia.org/wikipedia/commons/a/a2/Wikipedia-logo-v2-hr.png");
  background-position: center center;
          padding:100px;
          background-repeat: no-repeat;
}
#input_id{
  background:white;
  color:#191919;
  margin:-20px;  
  margin-top:40px;
  border-radius:10px;
  
}

.random_article{
      font-size:20px;
        color:black;
}
a{color:#191919; 
}
#Results_{
         background: #DFE2DB;
}
.results_fo{
  background:silver;
  padding:5px;
  margin: 15px;
box-shadow: 1px 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  
transition: all 0.3s ease-in-out;
}
.results_fo:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}